In [2]:
import pandas as pd
import mysql.connector

In [3]:
df_kerala=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_kerala.csv")
df_andhra=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_andra.csv")
df_assam=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_assam.csv")
df_chandigarh=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_chandigarh.csv")
df_GOA=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_GOA.csv")
df_himachalpradesh=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_himachalpradesh.csv")
df_jk=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_himachalpradesh.csv")
df_up=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_up.csv")
df_wb=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_wb.csv")
df_south_bengal=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_south_bengal.csv")
df_telangana=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_telangana.csv")
df_bihar=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_bihar.csv")
df_rajastan=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_rajastan.csv")

In [4]:
df_bus=pd.concat([df_kerala,df_andhra,df_assam,df_chandigarh,df_GOA,df_himachalpradesh,df_jk,df_rajastan,df_south_bengal,df_telangana,df_up,df_wb])

/var/folders/yj/8l_4gn6560scq2dktx2xb6nm0000gn/T/ipykernel_4044/3446218270.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_bus=pd.concat([df_kerala,df_andhra,df_assam,df_chandigarh,df_GOA,df_himachalpradesh,df_jk,df_rajastan,df_south_bengal,df_telangana,df_up,df_wb])

In [5]:
df_bus

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_name,Route_link
0,MMK Travels,A/C Seater / Sleeper (2+1),22:30,07:30,09h 00m,750.0,24 Seats available,4.6\n556,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
1,P K Travels,A/C Seater / Sleeper (2+1),21:30,06:00,08h 30m,684.0,23 Seats available,4.2\n62,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
2,P K Travels,A/C Sleeper (2+1),18:45,06:30,11h 45m,810.0,24 Seats available,4.1\n110,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
3,AdSAAM BUS,VE A/C Sleeper (2+1),21:45,06:45,09h 00m,786.0,17 Seats available,4.1\n289,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
4,NS Transports,Non A/C Seater / Sleeper (2+1),21:45,06:10,08h 25m,699.0,19 Seats available,4.2\n276,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
...,...,...,...,...,...,...,...,...,...,...
191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kolkata to Haldia,https://www.redbus.in/bus-tickets/kolkata-to-h...
192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kolkata to Haldia,https://www.redbus.in/bus-tickets/kolkata-to-h...
193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kolkata to Haldia,https://www.redbus.in/bus-tickets/kolkata-to-h...
194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kolkata to Haldia,https://www.redbus.in/bus-tickets/kolkata-to-h...
195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kolkata to Haldia,https://www.redbus.in/bus-tickets/kolkata-to-h...

In [6]:
# Check for missing values in each column of the DataFrame

# 1. df_bus.isna(): This checks the DataFrame for any missing values (NaN).
#    It returns a DataFrame of the same shape as 'df_bus' where True indicates a missing value and False indicates a non-missing value.
# 2. .sum(): This adds up all the True values for each column, giving the total number of missing values in each column.
missing_values = df_bus.isnull().sum()

# Print the result, which shows how many missing (NaN) values are in each column.
print(missing_values)

Bus_name           958
Bus_type           967
Start_time         951
End_time           951
Total_duration     951
Price              946
Seats_Available    937
Ratings            951
Route_name           0
Route_link           0
dtype: int64

In [7]:
df_bus.fillna(method='ffill', inplace=True)  # Forward fill
df_bus.fillna(method='bfill', inplace=True)  # Backward fill

/var/folders/yj/8l_4gn6560scq2dktx2xb6nm0000gn/T/ipykernel_1804/760131768.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_bus.fillna(method='ffill', inplace=True)  # Forward fill
/var/folders/yj/8l_4gn6560scq2dktx2xb6nm0000gn/T/ipykernel_1804/760131768.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_bus.fillna(method='bfill', inplace=True)  # Backward fill

In [8]:
# Check for missing values in each column of the DataFrame

# 1. df_bus.isna(): This checks the DataFrame for any missing values (NaN).
#    It returns a DataFrame of the same shape as 'df_bus' where True indicates a missing value and False indicates a non-missing value.
# 2. .sum(): This adds up all the True values for each column, giving the total number of missing values in each column.
missing_values = df_bus.isnull().sum()

# Print the result, which shows how many missing (NaN) values are in each column.
print(missing_values)

Bus_name           0
Bus_type           0
Start_time         0
End_time           0
Total_duration     0
Price              0
Seats_Available    0
Ratings            0
Route_name         0
Route_link         0
dtype: int64

In [9]:
# Get the shape of the DataFrame (number of rows and columns)
data_shape = df_bus.shape

# Print the shape
print(f"The DataFrame has {data_shape[0]} rows and {data_shape[1]} columns.")

The DataFrame has 2461 rows and 10 columns.

In [10]:
# Get unique values from the 'Route_link' column

# df_bus['Route_link'] accesses the 'Route_link' column in the DataFrame.
# .unique() finds all the unique (non-duplicate) values in that column.
unique_route_links = df_bus['Route_link'].unique()

# Print the unique route links to inspect them
print(unique_route_links)

['https://www.redbus.in/bus-tickets/bangalore-to-kozhikode'
 'https://www.redbus.in/bus-tickets/kozhikode-to-ernakulam'
 'https://www.redbus.in/bus-tickets/kozhikode-to-bangalore'
 'https://www.redbus.in/bus-tickets/ernakulam-to-kozhikode'
 'https://www.redbus.in/bus-tickets/mysore-to-kozhikode'
 'https://www.redbus.in/bus-tickets/kozhikode-to-mysore'
 'https://www.redbus.in/bus-tickets/kozhikode-to-thrissur'
 'https://www.redbus.in/bus-tickets/kozhikode-to-thiruvananthapuram'
 'https://www.redbus.in/bus-tickets/kozhikode-to-kottayam'
 'https://www.redbus.in/bus-tickets/thrissur-to-kozhikode'
 'https://www.redbus.in/bus-tickets/bangalore-to-kalpetta'
 'https://www.redbus.in/bus-tickets/bangalore-to-kannur'
 'https://www.redbus.in/bus-tickets/kalpetta-to-bangalore'
 'https://www.redbus.in/bus-tickets/kottayam-to-kozhikode'
 'https://www.redbus.in/bus-tickets/kannur-to-bangalore'
 'https://www.redbus.in/bus-tickets/kozhikode-to-aluva'
 'https://www.redbus.in/bus-tickets/vijayawada-to-hyderabad'
 'https://www.redbus.in/bus-tickets/kakinada-to-visakhapatnam'
 'https://www.redbus.in/bus-tickets/tirupathi-to-bangalore'
 'https://www.redbus.in/bus-tickets/kadapa-to-bangalore'
 'https://www.redbus.in/bus-tickets/hyderabad-to-ongole'
 'https://www.redbus.in/bus-tickets/visakhapatnam-to-kakinada'
 'https://www.redbus.in/bus-tickets/kadiri-to-bangalore'
 'https://www.redbus.in/bus-tickets/vinukonda-to-hyderabad'
 'https://www.redbus.in/bus-tickets/bangalore-to-kadiri'
 'https://www.redbus.in/bus-tickets/hyderabad-to-narsaraopet'
 'https://www.redbus.in/bus-tickets/rajahmundry-to-visakhapatnam'
 'https://www.redbus.in/bus-tickets/eluru-to-hyderabad'
 'https://www.redbus.in/bus-tickets/chennai-to-tirupathi'
 'https://www.redbus.in/bus-tickets/guntur-to-hyderabad'
 'https://www.redbus.in/bus-tickets/rayachoti-to-bangalore'
 'https://www.redbus.in/bus-tickets/tirupathi-to-chennai'
 'https://www.redbus.in/bus-tickets/visakhapatnam-to-vijayawada'
 'https://www.redbus.in/bus-tickets/rajahmundry-to-vijayawada'
 'https://www.redbus.in/bus-tickets/hyderabad-to-guntur'
 'https://www.redbus.in/bus-tickets/macherla-to-hyderabad'
 'https://www.redbus.in/bus-tickets/nandyala-to-hyderabad'
 'https://www.redbus.in/bus-tickets/hyderabad-to-eluru'
 'https://www.redbus.in/bus-tickets/bangalore-to-rayachoti'
 'https://www.redbus.in/bus-tickets/kurnool-to-hyderabad'
 'https://www.redbus.in/bus-tickets/hyderabad-to-vinukonda'
 'https://www.redbus.in/bus-tickets/vijayawada-to-visakhapatnam'
 'https://www.redbus.in/bus-tickets/kurnool-to-bangalore'
 'https://www.redbus.in/bus-tickets/rajahmundry-to-hyderabad'
 'https://www.redbus.in/bus-tickets/amalapuram-to-visakhapatnam'
 'https://www.redbus.in/bus-tickets/kurnool-to-vijayawada'
 'https://www.redbus.in/bus-tickets/visakhapatnam-to-rajahmundry'
 'https://www.redbus.in/bus-tickets/hyderabad-to-macherla'
 'https://www.redbus.in/bus-tickets/nellore-to-bangalore'
 'https://www.redbus.in/bus-tickets/tadipatri-to-bangalore'
 'https://www.redbus.in/bus-tickets/kakinada-to-vijayawada'
 'https://www.redbus.in/bus-tickets/visakhapatnam-to-amalapuram'
 'https://www.redbus.in/bus-tickets/hyderabad-to-markapuram'
 'https://www.redbus.in/bus-tickets/hyderabad-to-nandyala'
 'https://www.redbus.in/bus-tickets/tezpur-to-guwahati'
 'https://www.redbus.in/bus-tickets/tinsukia-to-jorhat'
 'https://www.redbus.in/bus-tickets/guwahati-to-kaliabor'
 'https://www.redbus.in/bus-tickets/dergaon-to-dibrugarh'
 'https://www.redbus.in/bus-tickets/chandigarh-to-delhi'
 'https://www.redbus.in/bus-tickets/yamuna-nagar-to-chandigarh'
 'https://www.redbus.in/bus-tickets/ludhiana-to-chandigarh'
 'https://www.redbus.in/bus-tickets/chandigarh-to-yamuna-nagar'
 'https://www.redbus.in/bus-tickets/chandigarh-to-hamirpur-himachal-pradesh'
 'https://www.redbus.in/bus-tickets/chandigarh-to-baijnath'
 'https://www.redbus.in/bus-tickets/hamirpur-himachal-pradesh-to-chandigarh'
 'https://www.redbus.in/bus-tickets/chandigarh-to-ludhiana'
 'https://www.redbus.in/bus-tickets/chandigarh-to-dehradun'
 'https://www.redbus.in/bus-tickets/chandigarh-to-sujanpur'
 'https://www.redbus.in/bus-tickets/chandigarh-to-pathankot'
 'https://www.redbus.in/bus-tickets/dehradun-to-chandigarh'
 'https://www.redbus.in/bus-tickets/chandigarh-to-dharamshala'
 'https://www.redbus.in/bus-tickets/sujanpur-to-chandigarh'
 'https://www.redbus.in/bus-tickets/chandigarh-to-shimla'
 'https://www.redbus.in/bus-tickets/rohtak-to-chandigarh'
 'https://www.redbus.in/bus-tickets/dharamshala-to-chandigarh'
 'https://www.redbus.in/bus-tickets/pathankot-to-chandigarh'
 'https://www.redbus.in/bus-tickets/baijnath-to-chandigarh'
 'https://www.redbus.in/bus-tickets/shimla-to-chandigarh'
 'https://www.redbus.in/bus-tickets/delhi-to-shimla'
 'https://www.redbus.in/bus-tickets/shimla-to-delhi'
 'https://www.redbus.in/bus-tickets/hamirpur-himachal-pradesh-to-delhi'
 'https://www.redbus.in/bus-tickets/delhi-to-hamirpur-himachal-pradesh'
 'https://www.redbus.in/bus-tickets/kangra-to-chandigarh'
 'https://www.redbus.in/bus-tickets/delhi-to-chandigarh'
 'https://www.redbus.in/bus-tickets/palampur-to-chandigarh'
 'https://www.redbus.in/bus-tickets/chandigarh-to-palampur'
 'https://www.redbus.in/bus-tickets/delhi-to-nalagarh'
 'https://www.redbus.in/bus-tickets/chandigarh-to-kangra'
 'https://www.redbus.in/bus-tickets/ghumarwin-to-chandigarh'
 'https://www.redbus.in/bus-tickets/chandigarh-to-kullu'
 'https://www.redbus.in/bus-tickets/manali-to-chandigarh'
 'https://www.redbus.in/bus-tickets/delhi-to-solan'
 'https://www.redbus.in/bus-tickets/chandigarh-to-manali'
 'https://www.redbus.in/bus-tickets/kullu-to-shimla'
 'https://www.redbus.in/bus-tickets/solan-to-delhi'
 'https://www.redbus.in/bus-tickets/sundernagar-himachal-pradesh-to-chandigarh'
 'https://www.redbus.in/bus-tickets/delhi-to-bilaspur-himachal-pradesh'
 'https://www.redbus.in/bus-tickets/palampur-to-delhi'
 'https://www.redbus.in/bus-tickets/delhi-to-palampur'
 'https://www.redbus.in/bus-tickets/ghumarwin-to-delhi'
 'https://www.redbus.in/bus-tickets/manali-to-shimla'
 'https://www.redbus.in/bus-tickets/beawer-to-jaipur'
 'https://www.redbus.in/bus-tickets/udaipur-to-jodhpur'
 'https://www.redbus.in/bus-tickets/jaipur-to-jodhpur'
 'https://www.redbus.in/bus-tickets/sikar-to-jaipur'
 'https://www.redbus.in/bus-tickets/aligarh-uttar-pradesh-to-jaipur'
 'https://www.redbus.in/bus-tickets/kota-rajasthan-to-jaipur'
 'https://www.redbus.in/bus-tickets/jaipur-to-pilani'
 'https://www.redbus.in/bus-tickets/jaipur-to-aligarh-uttar-pradesh'
 'https://www.redbus.in/bus-tickets/kishangarh-to-jaipur'
 'https://www.redbus.in/bus-tickets/sikar-to-bikaner'
 'https://www.redbus.in/bus-tickets/jodhpur-to-beawer'
 'https://www.redbus.in/bus-tickets/udaipur-to-pali-rajasthan'
 'https://www.redbus.in/bus-tickets/jaipur-to-kota-rajasthan'
 'https://www.redbus.in/bus-tickets/kota-rajasthan-to-udaipur'
 'https://www.redbus.in/bus-tickets/jaipur-to-bharatpur'
 'https://www.redbus.in/bus-tickets/jaipur-to-mathura'
 'https://www.redbus.in/bus-tickets/bikaner-to-sikar'
 'https://www.redbus.in/bus-tickets/pali-to-udaipur'
 'https://www.redbus.in/bus-tickets/udaipur-to-jaipur'
 'https://www.redbus.in/bus-tickets/durgapur-to-kolkata'
 'https://www.redbus.in/bus-tickets/kolkata-to-burdwan'
 'https://www.redbus.in/bus-tickets/kolkata-to-durgapur'
 'https://www.redbus.in/bus-tickets/haldia-to-kolkata'
 'https://www.redbus.in/bus-tickets/kolkata-to-haldia'
 'https://www.redbus.in/bus-tickets/midnapore-to-kolkata'
 'https://www.redbus.in/bus-tickets/kolkata-to-arambagh-west-bengal'
 'https://www.redbus.in/bus-tickets/kolkata-to-digha'
 'https://www.redbus.in/bus-tickets/digha-to-kolkata'
 'https://www.redbus.in/bus-tickets/kolkata-to-bankura'
 'https://www.redbus.in/bus-tickets/kolkata-to-asansol'
 'https://www.redbus.in/bus-tickets/kolkata-to-midnapore'
 'https://www.redbus.in/bus-tickets/kolkata-to-contai-kanthi'
 'https://www.redbus.in/bus-tickets/kolkata-to-nandakumar'
 'https://www.redbus.in/bus-tickets/kolkata-to-kolaghat'
 'https://www.redbus.in/bus-tickets/durgapur-to-barasat-west-bengal'
 'https://www.redbus.in/bus-tickets/midnapore-to-barasat-west-bengal'
 'https://www.redbus.in/bus-tickets/berhampore-to-durgapur'
 'https://www.redbus.in/bus-tickets/kolkata-to-suri'
 'https://www.redbus.in/bus-tickets/durgapur-to-digha'
 'https://www.redbus.in/bus-tickets/durgapur-to-berhampore'
 'https://www.redbus.in/bus-tickets/purulia-to-durgapur'
 'https://www.redbus.in/bus-tickets/digha-to-barasat-west-bengal'
 'https://www.redbus.in/bus-tickets/kolkata-to-heria'
 'https://www.redbus.in/bus-tickets/kolkata-to-bajkul-west-bengal'
 'https://www.redbus.in/bus-tickets/barasat-west-bengal-to-midnapore'
 'https://www.redbus.in/bus-tickets/kolkata-to-ramnagar-west-bengal'
 'https://www.redbus.in/bus-tickets/durgapur-to-bankura'
 'https://www.redbus.in/bus-tickets/siliguri-to-kolkata'
 'https://www.redbus.in/bus-tickets/khammam-to-hyderabad'
 'https://www.redbus.in/bus-tickets/hyderabad-to-vijayawada'
 'https://www.redbus.in/bus-tickets/hyderabad-to-khammam'
 'https://www.redbus.in/bus-tickets/karimnagar-to-hyderabad'
 'https://www.redbus.in/bus-tickets/hyderabad-to-adilabad'
 'https://www.redbus.in/bus-tickets/kothagudem-to-hyderabad'
 'https://www.redbus.in/bus-tickets/hyderabad-to-mancherial'
 'https://www.redbus.in/bus-tickets/godavarikhani-to-hyderabad'
 'https://www.redbus.in/bus-tickets/jagityal-to-hyderabad'
 'https://www.redbus.in/bus-tickets/hyderabad-to-nirmal'
 'https://www.redbus.in/bus-tickets/hyderabad-to-karimnagar'
 'https://www.redbus.in/bus-tickets/hyderabad-to-bhadrachalam'
 'https://www.redbus.in/bus-tickets/hyderabad-to-sathupalli'
 'https://www.redbus.in/bus-tickets/hyderabad-to-warangal'
 'https://www.redbus.in/bus-tickets/hyderabad-to-tirupathi'
 'https://www.redbus.in/bus-tickets/hyderabad-to-ananthapur'
 'https://www.redbus.in/bus-tickets/hyderabad-to-armoor'
 'https://www.redbus.in/bus-tickets/hyderabad-to-godavarikhani'
 'https://www.redbus.in/bus-tickets/peddapalli-telangana-to-hyderabad'
 'https://www.redbus.in/bus-tickets/hyderabad-to-kodad'
 'https://www.redbus.in/bus-tickets/delhi-to-bareilly'
 'https://www.redbus.in/bus-tickets/delhi-to-lucknow'
 'https://www.redbus.in/bus-tickets/bareilly-to-delhi'
 'https://www.redbus.in/bus-tickets/lucknow-to-gorakhpur'
 'https://www.redbus.in/bus-tickets/delhi-to-aligarh-uttar-pradesh'
 'https://www.redbus.in/bus-tickets/lucknow-to-delhi'
 'https://www.redbus.in/bus-tickets/delhi-to-farrukhabad-up'
 'https://www.redbus.in/bus-tickets/delhi-to-sitapur'
 'https://www.redbus.in/bus-tickets/agra-to-lucknow'
 'https://www.redbus.in/bus-tickets/delhi-to-gorakhpur'
 'https://www.redbus.in/bus-tickets/farrukhabad-up-to-delhi'
 'https://www.redbus.in/bus-tickets/lucknow-to-varanasi'
 'https://www.redbus.in/bus-tickets/delhi-to-moradabad'
 'https://www.redbus.in/bus-tickets/lucknow-to-ballia'
 'https://www.redbus.in/bus-tickets/moradabad-to-delhi'
 'https://www.redbus.in/bus-tickets/sitapur-to-delhi'
 'https://www.redbus.in/bus-tickets/delhi-to-shahjahanpur'
 'https://www.redbus.in/bus-tickets/greater-noida-to-lucknow'
 'https://www.redbus.in/bus-tickets/kanpur-to-varanasi'
 'https://www.redbus.in/bus-tickets/gorakhpur-to-lucknow'
 'https://www.redbus.in/bus-tickets/delhi-to-kanpur'
 'https://www.redbus.in/bus-tickets/delhi-to-pilibhit'
 'https://www.redbus.in/bus-tickets/lucknow-to-mathura'
 'https://www.redbus.in/bus-tickets/kanpur-to-bareilly'
 'https://www.redbus.in/bus-tickets/dehradun-to-bareilly'
 'https://www.redbus.in/bus-tickets/ballia-to-lucknow'
 'https://www.redbus.in/bus-tickets/delhi-to-kotdwar-uttarakhand'
 'https://www.redbus.in/bus-tickets/lucknow-to-agra'
 'https://www.redbus.in/bus-tickets/gorakhpur-to-delhi'
 'https://www.redbus.in/bus-tickets/bareilly-to-dehradun'
 'https://www.redbus.in/bus-tickets/jhansi-to-kanpur'
 'https://www.redbus.in/bus-tickets/mathura-to-lucknow'
 'https://www.redbus.in/bus-tickets/varanasi-to-lucknow'
 'https://www.redbus.in/bus-tickets/bareilly-to-agra'
 'https://www.redbus.in/bus-tickets/delhi-to-haldwani'
 'https://www.redbus.in/bus-tickets/shahjahanpur-to-delhi'
 'https://www.redbus.in/bus-tickets/barasat-west-bengal-to-digha'
 'https://www.redbus.in/bus-tickets/barasat-west-bengal-to-contai-kanthi'
 'https://www.redbus.in/bus-tickets/barasat-west-bengal-to-nandakumar'
 'https://www.redbus.in/bus-tickets/barasat-west-bengal-to-kolaghat'
 'https://www.redbus.in/bus-tickets/barasat-west-bengal-to-durgapur'
 'https://www.redbus.in/bus-tickets/barasat-west-bengal-to-heria'
 'https://www.redbus.in/bus-tickets/habra-to-digha'
 'https://www.redbus.in/bus-tickets/digha-to-habra'
 'https://www.redbus.in/bus-tickets/barasat-west-bengal-to-burdwan'
 'https://www.redbus.in/bus-tickets/habra-to-nandakumar'
 'https://www.redbus.in/bus-tickets/durgapur-to-purulia'
 'https://www.redbus.in/bus-tickets/barasat-west-bengal-to-debra'
 'https://www.redbus.in/bus-tickets/habra-to-midnapore'
 'https://www.redbus.in/bus-tickets/habra-to-durgapur'
 'https://www.redbus.in/bus-tickets/kolkata-to-purulia'
 'https://www.redbus.in/bus-tickets/barasat-west-bengal-to-asansol'
 'https://www.redbus.in/bus-tickets/habra-to-kolaghat']

In [11]:
# Display concise summary information about the DataFrame
df_bus.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2461 entries, 0 to 195
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2461 non-null   object
 1   Bus_type         2461 non-null   object
 2   Start_time       2461 non-null   object
 3   End_time         2461 non-null   object
 4   Total_duration   2461 non-null   object
 5   Price            2461 non-null   float64
 6   Seats_Available  2461 non-null   object
 7   Ratings          2461 non-null   object
 8   Route_name       2461 non-null   object
 9   Route_link       2461 non-null   object
dtypes: float64(1), object(9)
memory usage: 211.5+ KB

In [12]:
df_bus['Seats_Available'] = pd.to_numeric(df_bus['Seats_Available'], errors='coerce')
df_bus['Ratings'] = pd.to_numeric(df_bus['Ratings'], errors='coerce')

In [13]:
df_bus.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2461 entries, 0 to 195
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2461 non-null   object
 1   Bus_type         2461 non-null   object
 2   Start_time       2461 non-null   object
 3   End_time         2461 non-null   object
 4   Total_duration   2461 non-null   object
 5   Price            2461 non-null   float64
 6   Seats_Available  0 non-null      float64
 7   Ratings          879 non-null    float64
 8   Route_name       2461 non-null   object
 9   Route_link       2461 non-null   object
dtypes: float64(3), object(7)
memory usage: 211.5+ KB

## TIME

In [14]:
# Convert the 'Start_time' column to datetime format and then reformat it to a consistent string format ("%H:%M")

# 1. pd.to_datetime(dfbus['Start_time'], format="%H:%M"): 
#    - Converts the 'Start_time' column into a datetime object.
#    - The format "%H:%M" tells pandas to interpret the time in the 'HH:MM' format (hours and minutes).
#    - This ensures that the time values are treated as proper datetime objects for any further time-related operations.

# 2. .dt.strftime("%H:%M"): 
#    - After converting to datetime, the .dt accessor allows us to format the datetime object back into a string.
#    - "%H:%M" specifies that we want the time formatted as 'HH:MM' (24-hour format with leading zeros for hours if necessary).
#    - This ensures consistency in the formatting of the time values in the 'Start_time' column.

df_bus['Start_time'] = pd.to_datetime(df_bus['Start_time'], format="%H:%M").dt.strftime("%H:%M")

# The 'Start_time' column now contains consistent time strings in the 'HH:MM' format.

In [15]:
df_bus['End_time']=pd.to_datetime(df_bus['End_time'],format="%H:%M").dt.strftime('%H:%M')

In [16]:
print(type(df_bus['End_time'][0]))
print(type(df_bus['Start_time'][0]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [17]:
df_bus['Start_time']

0      22:30
1      21:30
2      18:45
3      21:45
4      21:45
       ...
191    07:15
192    07:15
193    07:15
194    07:15
195    07:15
Name: Start_time, Length: 2461, dtype: object

In [18]:
# Check for missing values in 'Start_time' column
missing_start_time = df_bus['Start_time'].isna().sum()
print(f"Missing start times: {missing_start_time}")

# Check for missing values in 'End_time' column
missing_end_time = df_bus['End_time'].isna().sum()
print(f"Missing end times: {missing_end_time}")

Missing start times: 0
Missing end times: 0

## RATING

In [19]:
# Get summary statistics of the 'Ratings' column
ratings_summary = df_bus['Ratings'].describe()

# Print the summary statistics
print(ratings_summary)

count    879.000000
mean       3.599772
std        0.446423
min        1.400000
25%        3.300000
50%        3.600000
75%        3.900000
max        4.800000
Name: Ratings, dtype: float64

In [20]:
# Get the number of unique ratings
unique_ratings_count = df_bus['Ratings'].nunique()

# Print the number of unique ratings
print(f"There are {unique_ratings_count} unique ratings.")

There are 29 unique ratings.

In [21]:
# Get the unique ratings
unique_ratings = df_bus['Ratings'].unique()

# Print the unique ratings
print(f"Unique ratings: {unique_ratings}")

Unique ratings: [nan 4.3 3.7 4.1 4.2 3.5 1.4 3.6 3.9 3.1 2.8 2.4 4.5 4.  4.4 3.2 3.8 2.7
 2.5 2.  3.4 3.3 3.  4.7 4.6 4.8 2.9 1.8 1.6 2.3]

In [23]:
# Get the mode (most frequent rating)
most_frequent_rating = df_bus['Ratings'].mode()

# Print the most frequent rating
print(f"The most frequent rating is: {most_frequent_rating[0]}")

The most frequent rating is: 3.3

In [24]:
# Count the frequency of each rating value
ratings_count = df_bus['Ratings'].value_counts()

# Print the frequency of each rating
print(ratings_count)

Ratings
3.3    234
3.9    170
3.5     57
3.6     57
3.7     50
3.2     39
3.8     32
4.0     29
2.8     27
4.1     25
4.2     22
3.1     22
3.4     22
4.5     21
4.3     19
4.4     16
3.0      7
4.8      6
2.4      5
2.3      5
2.7      3
4.6      3
4.7      2
2.5      1
2.0      1
1.4      1
2.9      1
1.8      1
1.6      1
Name: count, dtype: int64

In [25]:
# Count missing values (NaN) in the 'Ratings' column
missing_ratings = df_bus['Ratings'].isna().sum()

# Print the number of missing ratings
print(f"Number of missing ratings: {missing_ratings}")

Number of missing ratings: 1582

In [26]:
df_bus['Ratings'].fillna(0, inplace=True)  # Filling with 0 if it's acceptable

In [27]:
# Count missing values (NaN) in the 'Ratings' column
missing_ratings = df_bus['Ratings'].isna().sum()

# Print the number of missing ratings
print(f"Number of missing ratings: {missing_ratings}")

Number of missing ratings: 0

## BUS TYPE

In [28]:
# Get the unique bus types
unique_bus_types = df_bus['Bus_type'].unique()

# Print the unique bus types
print(f"Unique bus types: {unique_bus_types}")

Unique bus types: ['A/C Seater / Sleeper (2+1)' 'A/C Sleeper (2+1)' 'VE A/C Sleeper (2+1)'
 'Non A/C Seater / Sleeper (2+1)' 'NON A/C Semi Sleeper (2+2)'
 'Bharat Benz A/C Seater /Sleeper (2+1)' 'A/C Seater/Sleeper (2+1)'
 'A/C Semi Sleeper (2+2)' 'Super Fast Non AC Seater (2+3)'
 'SWIFT-GARUDA A/C SEATER BUS' 'Swift Deluxe Non AC Air Bus (2+2)'
 'AC MULTI AXLE' 'Super Express Non AC Seater Air Bus (2+2)'
 'Bharat Benz A/C Sleeper (2+1)' 'NON AC Seater / Sleeper 2+1'
 'NON A/C Sleeper (2+1)' 'Low Floor AC Seater 2+2'
 'SWIFT-HYBRID NON AC SEATER CUM SLEEPER'
 'Volvo Multi-Axle I-Shift B11R Semi Sleeper (2+2)'
 '2+1 Air Suspension A/C Seater / Sleeper'
 'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)'
 'DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle)'
 'AMARAVATHI (VOLVO / SCANIA A.C Multi Axle)' 'INDRA(A.C. Seater)'
 'VENNELA (A.C. SLEEPER)' 'Electric A/C Seater (2+2)' 'METRO LUXURY A/C'
 'Express(Non AC Seater)' 'SAPTAGIRI EXPRESS' 'A/C Seater (2+2)'
 'ULTRA DELUXE (NON-AC, 2+2 PUSH BACK)' 'NON A/C Seater/ Sleeper (2+1)'
 'Volvo Multi-Axle A/C Sleeper (2+1)'
 'Volvo Multi Axle A/C Sleeper I-Shift B11R (2+1)'
 'NON A/C Semi Sleeper / Sleeper (2+1)'
 'Lahari Non A/C Sleeper Cum Seater' 'Electric A/C Seater/Sleeper (2+1)'
 'NIGHT RIDER (SEATER CUM SLEEPER)' 'Volvo 9600 A/C Seater/Sleeper (2+1)'
 'AC Sleeper (2+1)' 'Volvo 9600 Multi-Axle A/C Sleeper (2+1)'
 'Super Luxury (Non AC Seater 2+2 Push Back)'
 'Bharat Benz A/C Seater (2+2)' 'Volvo AC Seater 2+2'
 'Tata A/C Seater (2+2)' 'A/C Seater Push Back (2+2)' 'AC Seater (2+2)'
 'A/C Seater (2+1)' 'NON A/C Seater (2+1)' 'Non AC Seater (2+2)'
 'Volvo AC Seater Pushback 2+2' 'NON A/C Seater (2+2)'
 'NON A/C Seater Push Back (2+1)' 'HVAC Seater (2+3)'
 'Volvo A/C Semi Sleeper (2+2)' 'Volvo 9600 A/C Semi Sleeper (2+2)'
 'VE A/C Seater / Sleeper (2+1)' 'Mercedes Multi-Axle Semi Sleeper (2+2)'
 'Ordinary 3+2 Non AC Seater' 'A/C Executive (2+3)'
 'Himsuta AC Seater Volvo/Scania 2+2'
 'Super Luxury Volvo AC Seater Pushback 2+2' 'Volvo A/C Seater (2+2)'
 'Himmani Deluxe 2+2 Non AC Seater' 'Bharat Benz A/C Semi Sleeper (2+2)'
 'Scania Multi-Axle AC Semi Sleeper (2+2)' 'Bharat Benz (2+2)'
 'Express Non AC Seater 2+3' 'Deluxe AC Seater 2+2'
 'Semi Deluxe Non AC Seater 2+2' 'Bharat Benz A/C Seater (2+1)'
 'Non AC Seater (2+3)' 'Volvo 9600 Multi Axle Semi-Sleeper (2+2)'
 'VE A/C Seater (2+2)' 'A/C Seater / Sleeper (2+2)'
 'A/C Seater Push Back (2+3)' 'AC Seater (2+3)' 'Non AC Seater 2+2'
 'NON A/C Seater Push Back (2+2)' 'Rajdhani (AC Semi Sleeper 2+2)'
 'RAJDHANI (A.C. Semi Sleeper)' 'Scania AC Multi Axle Sleeper (2+1)'
 'GARUDA PLUS (VOLVO / BENZ A.C Multi Axle)'
 'LAHARI A/C SLEEPER CUM SEATER' 'Ordinary Non AC Seater 2+3'
 'Shatabdi AC Seater 2+2' 'Rajdhani Non AC Seater 2+3'
 'Janrath AC Seater 2+2' 'Janrath AC Seater 2+3'
 'Pink Express AC Seater 2+2' 'Volvo AC Seater (2+2)']

In [29]:
# Count the number of unique bus types
unique_bus_types_count = df_bus['Bus_type'].nunique()

# Print the count of unique bus types
print(f"There are {unique_bus_types_count} unique bus types.")

There are 91 unique bus types.

In [30]:
# Get the frequency of each bus type
bus_type_counts = df_bus['Bus_type'].value_counts()

# Print the frequency of each bus type
print(bus_type_counts)

Bus_type
Non AC Seater (2+3)                        369
Ordinary 3+2 Non AC Seater                 242
SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)     242
Ordinary Non AC Seater 2+3                 196
Himsuta AC Seater Volvo/Scania 2+2         149
                                          ...
Non AC Seater 2+2                            1
2+1 Air Suspension A/C Seater / Sleeper      1
Volvo Multi-Axle A/C Sleeper (2+1)           1
SWIFT-GARUDA A/C SEATER BUS                  1
SWIFT-HYBRID NON AC SEATER CUM SLEEPER       1
Name: count, Length: 91, dtype: int64

In [31]:
# Count the missing values (NaN) in the 'Bus_type' column
missing_bus_types = df_bus['Bus_type'].isna().sum()

# Print the number of missing bus types
print(f"Number of missing bus types: {missing_bus_types}")

Number of missing bus types: 0

In [32]:
# Get the most common bus type
most_common_bus_type = df_bus['Bus_type'].mode()

# Print the most common bus type
print(f"The most common bus type is: {most_common_bus_type[0]}")

The most common bus type is: Non AC Seater (2+3)

In [33]:
# Sort the data by 'Bus_type'
sorted_buses = df_bus.sort_values(by='Bus_type')

# Print the sorted DataFrame
sorted_buses

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_name,Route_link
98,Galaxy Tours,2+1 Air Suspension A/C Seater / Sleeper,21:45,06:30,08h 45m,650.00,NaN,0.0,Kozhikode to Thiruvananthapuram,https://www.redbus.in/bus-tickets/kozhikode-to...
14,HRTC - 591,A/C Executive (2+3),21:00,07:20,10h 20m,632.00,NaN,0.0,Delhi to Shimla,https://www.redbus.in/bus-tickets/delhi-to-shimla
35,HRTC - 9236,A/C Executive (2+3),12:05,16:10,04h 05m,340.00,NaN,0.0,Chandigarh to Hamirpur (Himachal Pradesh),https://www.redbus.in/bus-tickets/chandigarh-t...
125,HRTC - 6754,A/C Executive (2+3),12:00,18:40,06h 40m,462.00,NaN,0.0,Delhi to Nalagarh,https://www.redbus.in/bus-tickets/delhi-to-nal...
124,HRTC - 6754,A/C Executive (2+3),12:00,18:40,06h 40m,462.00,NaN,0.0,Delhi to Nalagarh,https://www.redbus.in/bus-tickets/delhi-to-nal...
...,...,...,...,...,...,...,...,...,...,...
33,Chartered Bus - ASTC,Volvo AC Seater Pushback 2+2,06:15,10:00,03h 45m,324.47,NaN,0.0,Guwahati to Kaliabor,https://www.redbus.in/bus-tickets/guwahati-to-...
94,Kaveri Travels,Volvo Multi Axle A/C Sleeper I-Shift B11R (2+1),21:30,05:45,08h 15m,719.00,NaN,0.0,Hyderabad to Ongole,https://www.redbus.in/bus-tickets/hyderabad-to...
93,V Kaveri Travels,Volvo Multi-Axle A/C Sleeper (2+1),21:30,05:45,08h 15m,900.00,NaN,0.0,Hyderabad to Ongole,https://www.redbus.in/bus-tickets/hyderabad-to...
111,Madhavi Travels,Volvo Multi-Axle I-Shift B11R Semi Sleeper (2+2),23:30,04:50,05h 20m,899.00,NaN,4.0,Kozhikode to Kottayam,https://www.redbus.in/bus-tickets/kozhikode-to...
94,Madhavi Travels,Volvo Multi-Axle I-Shift B11R Semi Sleeper (2+2),23:30,07:30,08h 00m,899.00,NaN,0.0,Kozhikode to Thiruvananthapuram,https://www.redbus.in/bus-tickets/kozhikode-to...

## PRICE

In [34]:
# Average price by bus type
avg_price_by_type = df_bus.groupby('Bus_type')['Price'].mean().reset_index()



avg_price_by_type

                                            Bus_type       Price
0            2+1 Air Suspension A/C Seater / Sleeper  650.000000
1                                A/C Executive (2+3)  458.500000
2                                   A/C Seater (2+1)  361.760000
3                                   A/C Seater (2+2)  481.400000
4                         A/C Seater / Sleeper (2+1)  712.542373
..                                               ...         ...
86                               Volvo AC Seater 2+2  278.500000
87                      Volvo AC Seater Pushback 2+2  360.585000
88   Volvo Multi Axle A/C Sleeper I-Shift B11R (2+1)  719.000000
89                Volvo Multi-Axle A/C Sleeper (2+1)  900.000000
90  Volvo Multi-Axle I-Shift B11R Semi Sleeper (2+2)  899.000000

[91 rows x 2 columns]

In [36]:
# Average price by route
avg_price_by_route = df_bus.groupby('Route_name')['Price'].mean().reset_index()


avg_price_by_route

                                        Route_name   Price
0                                  Agra to Lucknow  580.60
1    Aligarh (uttar pradesh) to Jaipur (Rajasthan)  395.30
2                      Amalapuram to Visakhapatnam  386.00
3                           Baijnath to Chandigarh  529.10
4                Ballia (Uttar Pradesh) to Lucknow  688.50
..                                             ...     ...
217                    Visakhapatnam to Amalapuram  355.00
218                      Visakhapatnam to Kakinada  504.64
219                   Visakhapatnam to Rajahmundry  477.00
220                    Visakhapatnam to Vijayawada  741.20
221                     Yamuna Nagar to Chandigarh  819.00

[222 rows x 2 columns]

In [37]:
# Get basic statistics (mean, median, min, max, std, etc.)
price_stats = df_bus['Price'].describe()

# Print the statistics
price_stats

count    2461.000000
mean      515.491410
std       362.656722
min        52.000000
25%       283.000000
50%       462.000000
75%       664.000000
max      5000.000000
Name: Price, dtype: float64

In [38]:
# Count the missing values in the 'Price' column
missing_prices = df_bus['Price'].isna().sum()

# Print the number of missing prices
print(f"Number of missing price values: {missing_prices}")

Number of missing price values: 0

In [39]:
# Count the number of unique prices
unique_prices_count = df_bus['Price'].nunique()

# Print the number of unique prices
print(f"Number of unique prices: {unique_prices_count}")

Number of unique prices: 462

In [41]:
# Get the minimum and maximum price
min_price = df_bus['Price'].min()
max_price = df_bus['Price'].max()

# Print the price range
print(f"Price Range: {min_price} to {max_price}")

Price Range: 52.0 to 5000.0

## OVERALL ANALYSIS

In [42]:
# Get the shape (number of rows and columns) of the dataframe
print(df_bus.shape)

(2461, 10)

In [43]:
# View the first 5 rows of the dataframe
print(df_bus.head())

        Bus_name                        Bus_type Start_time End_time  \
0    MMK Travels      A/C Seater / Sleeper (2+1)      22:30    07:30
1    P K Travels      A/C Seater / Sleeper (2+1)      21:30    06:00
2    P K Travels               A/C Sleeper (2+1)      18:45    06:30
3     AdSAAM BUS            VE A/C Sleeper (2+1)      21:45    06:45
4  NS Transports  Non A/C Seater / Sleeper (2+1)      21:45    06:10

  Total_duration  Price  Seats_Available  Ratings              Route_name  \
0        09h 00m  750.0              NaN      0.0  Bangalore to Kozhikode
1        08h 30m  684.0              NaN      0.0  Bangalore to Kozhikode
2        11h 45m  810.0              NaN      0.0  Bangalore to Kozhikode
3        09h 00m  786.0              NaN      0.0  Bangalore to Kozhikode
4        08h 25m  699.0              NaN      0.0  Bangalore to Kozhikode

                                          Route_link
0  https://www.redbus.in/bus-tickets/bangalore-to...
1  https://www.redbus.in/bus-tickets/bangalore-to...
2  https://www.redbus.in/bus-tickets/bangalore-to...
3  https://www.redbus.in/bus-tickets/bangalore-to...
4  https://www.redbus.in/bus-tickets/bangalore-to...

In [44]:
# View the last 5 rows of the dataframe
print(df_bus.tail())

                                              Bus_name             Bus_type  \
191  SBSTC-BARRACKPORE - HALDIA - VIA - BELGHARIA -...  Non AC Seater (2+3)
192  SBSTC-BARRACKPORE - HALDIA - VIA - BELGHARIA -...  Non AC Seater (2+3)
193  SBSTC-BARRACKPORE - HALDIA - VIA - BELGHARIA -...  Non AC Seater (2+3)
194  SBSTC-BARRACKPORE - HALDIA - VIA - BELGHARIA -...  Non AC Seater (2+3)
195  SBSTC-BARRACKPORE - HALDIA - VIA - BELGHARIA -...  Non AC Seater (2+3)

    Start_time End_time Total_duration  Price  Seats_Available  Ratings  \
191      07:15    10:15        03h 00m  112.0              NaN      0.0
192      07:15    10:15        03h 00m  112.0              NaN      0.0
193      07:15    10:15        03h 00m  112.0              NaN      0.0
194      07:15    10:15        03h 00m  112.0              NaN      0.0
195      07:15    10:15        03h 00m  112.0              NaN      0.0

            Route_name                                         Route_link
191  Kolkata to Haldia  https://www.redbus.in/bus-tickets/kolkata-to-h...
192  Kolkata to Haldia  https://www.redbus.in/bus-tickets/kolkata-to-h...
193  Kolkata to Haldia  https://www.redbus.in/bus-tickets/kolkata-to-h...
194  Kolkata to Haldia  https://www.redbus.in/bus-tickets/kolkata-to-h...
195  Kolkata to Haldia  https://www.redbus.in/bus-tickets/kolkata-to-h...

In [45]:
# Get data types of each column
print(df_bus.dtypes)

Bus_name            object
Bus_type            object
Start_time          object
End_time            object
Total_duration      object
Price              float64
Seats_Available    float64
Ratings            float64
Route_name          object
Route_link          object
dtype: object

In [46]:
# Get summary information about the DataFrame
df_bus.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2461 entries, 0 to 195
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2461 non-null   object
 1   Bus_type         2461 non-null   object
 2   Start_time       2461 non-null   object
 3   End_time         2461 non-null   object
 4   Total_duration   2461 non-null   object
 5   Price            2461 non-null   float64
 6   Seats_Available  0 non-null      float64
 7   Ratings          2461 non-null   float64
 8   Route_name       2461 non-null   object
 9   Route_link       2461 non-null   object
dtypes: float64(3), object(7)
memory usage: 276.0+ KB

In [47]:
# Get descriptive statistics for numerical columns
print(df_bus.describe())

             Price  Seats_Available      Ratings
count  2461.000000              0.0  2461.000000
mean    515.491410              NaN     1.285738
std     362.656722              NaN     1.745732
min      52.000000              NaN     0.000000
25%     283.000000              NaN     0.000000
50%     462.000000              NaN     0.000000
75%     664.000000              NaN     3.300000
max    5000.000000              NaN     4.800000

In [48]:
# Check for duplicate rows
duplicates = df_bus.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 1127

In [49]:
duplicate_rows = df_bus[df_bus.duplicated()]
print(duplicate_rows)

                                              Bus_name  \
14                                          A1 Travels
19                                          AdSAAM BUS
24                                       Adrin Travels
58                               KSRTC (Kerala) - 1583
59                               KSRTC (Kerala) - 1583
..                                                 ...
191  SBSTC-BARRACKPORE - HALDIA - VIA - BELGHARIA -...
192  SBSTC-BARRACKPORE - HALDIA - VIA - BELGHARIA -...
193  SBSTC-BARRACKPORE - HALDIA - VIA - BELGHARIA -...
194  SBSTC-BARRACKPORE - HALDIA - VIA - BELGHARIA -...
195  SBSTC-BARRACKPORE - HALDIA - VIA - BELGHARIA -...

                                  Bus_type Start_time End_time Total_duration  \
14   Bharat Benz A/C Seater /Sleeper (2+1)      22:30    01:29        02h 59m
19                    VE A/C Sleeper (2+1)      20:30    06:15        09h 45m
24                A/C Seater/Sleeper (2+1)      21:00    02:00        05h 00m
58       Swift Deluxe Non AC Air Bus (2+2)      20:00    03:00        07h 00m
59       Swift Deluxe Non AC Air Bus (2+2)      20:00    03:00        07h 00m
..                                     ...        ...      ...            ...
191                    Non AC Seater (2+3)      07:15    10:15        03h 00m
192                    Non AC Seater (2+3)      07:15    10:15        03h 00m
193                    Non AC Seater (2+3)      07:15    10:15        03h 00m
194                    Non AC Seater (2+3)      07:15    10:15        03h 00m
195                    Non AC Seater (2+3)      07:15    10:15        03h 00m

     Price  Seats_Available  Ratings              Route_name  \
14   700.0              NaN      0.0  Kozhikode to Ernakulam
19   833.0              NaN      0.0  Kozhikode to Bangalore
24   699.0              NaN      0.0  Ernakulam to Kozhikode
58   419.0              NaN      3.9     Kozhikode to Mysore
59   419.0              NaN      3.9     Kozhikode to Mysore
..     ...              ...      ...                     ...
191  112.0              NaN      0.0       Kolkata to Haldia
192  112.0              NaN      0.0       Kolkata to Haldia
193  112.0              NaN      0.0       Kolkata to Haldia
194  112.0              NaN      0.0       Kolkata to Haldia
195  112.0              NaN      0.0       Kolkata to Haldia

                                            Route_link
14   https://www.redbus.in/bus-tickets/kozhikode-to...
19   https://www.redbus.in/bus-tickets/kozhikode-to...
24   https://www.redbus.in/bus-tickets/ernakulam-to...
58   https://www.redbus.in/bus-tickets/kozhikode-to...
59   https://www.redbus.in/bus-tickets/kozhikode-to...
..                                                 ...
191  https://www.redbus.in/bus-tickets/kolkata-to-h...
192  https://www.redbus.in/bus-tickets/kolkata-to-h...
193  https://www.redbus.in/bus-tickets/kolkata-to-h...
194  https://www.redbus.in/bus-tickets/kolkata-to-h...
195  https://www.redbus.in/bus-tickets/kolkata-to-h...

[1127 rows x 10 columns]

In [54]:
df_bus_cleaned = df_bus.drop_duplicates()
print(f"Shape of the cleaned DataFrame: {df_bus_cleaned.shape}")

Shape of the cleaned DataFrame: (1334, 10)

In [55]:
# Get unique values in a specific column (e.g., 'Bus_type')
print(df_bus['Bus_type'].unique())

['A/C Seater / Sleeper (2+1)' 'A/C Sleeper (2+1)' 'VE A/C Sleeper (2+1)'
 'Non A/C Seater / Sleeper (2+1)' 'NON A/C Semi Sleeper (2+2)'
 'Bharat Benz A/C Seater /Sleeper (2+1)' 'A/C Seater/Sleeper (2+1)'
 'A/C Semi Sleeper (2+2)' 'Super Fast Non AC Seater (2+3)'
 'SWIFT-GARUDA A/C SEATER BUS' 'Swift Deluxe Non AC Air Bus (2+2)'
 'AC MULTI AXLE' 'Super Express Non AC Seater Air Bus (2+2)'
 'Bharat Benz A/C Sleeper (2+1)' 'NON AC Seater / Sleeper 2+1'
 'NON A/C Sleeper (2+1)' 'Low Floor AC Seater 2+2'
 'SWIFT-HYBRID NON AC SEATER CUM SLEEPER'
 'Volvo Multi-Axle I-Shift B11R Semi Sleeper (2+2)'
 '2+1 Air Suspension A/C Seater / Sleeper'
 'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)'
 'DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle)'
 'AMARAVATHI (VOLVO / SCANIA A.C Multi Axle)' 'INDRA(A.C. Seater)'
 'VENNELA (A.C. SLEEPER)' 'Electric A/C Seater (2+2)' 'METRO LUXURY A/C'
 'Express(Non AC Seater)' 'SAPTAGIRI EXPRESS' 'A/C Seater (2+2)'
 'ULTRA DELUXE (NON-AC, 2+2 PUSH BACK)' 'NON A/C Seater/ Sleeper (2+1)'
 'Volvo Multi-Axle A/C Sleeper (2+1)'
 'Volvo Multi Axle A/C Sleeper I-Shift B11R (2+1)'
 'NON A/C Semi Sleeper / Sleeper (2+1)'
 'Lahari Non A/C Sleeper Cum Seater' 'Electric A/C Seater/Sleeper (2+1)'
 'NIGHT RIDER (SEATER CUM SLEEPER)' 'Volvo 9600 A/C Seater/Sleeper (2+1)'
 'AC Sleeper (2+1)' 'Volvo 9600 Multi-Axle A/C Sleeper (2+1)'
 'Super Luxury (Non AC Seater 2+2 Push Back)'
 'Bharat Benz A/C Seater (2+2)' 'Volvo AC Seater 2+2'
 'Tata A/C Seater (2+2)' 'A/C Seater Push Back (2+2)' 'AC Seater (2+2)'
 'A/C Seater (2+1)' 'NON A/C Seater (2+1)' 'Non AC Seater (2+2)'
 'Volvo AC Seater Pushback 2+2' 'NON A/C Seater (2+2)'
 'NON A/C Seater Push Back (2+1)' 'HVAC Seater (2+3)'
 'Volvo A/C Semi Sleeper (2+2)' 'Volvo 9600 A/C Semi Sleeper (2+2)'
 'VE A/C Seater / Sleeper (2+1)' 'Mercedes Multi-Axle Semi Sleeper (2+2)'
 'Ordinary 3+2 Non AC Seater' 'A/C Executive (2+3)'
 'Himsuta AC Seater Volvo/Scania 2+2'
 'Super Luxury Volvo AC Seater Pushback 2+2' 'Volvo A/C Seater (2+2)'
 'Himmani Deluxe 2+2 Non AC Seater' 'Bharat Benz A/C Semi Sleeper (2+2)'
 'Scania Multi-Axle AC Semi Sleeper (2+2)' 'Bharat Benz (2+2)'
 'Express Non AC Seater 2+3' 'Deluxe AC Seater 2+2'
 'Semi Deluxe Non AC Seater 2+2' 'Bharat Benz A/C Seater (2+1)'
 'Non AC Seater (2+3)' 'Volvo 9600 Multi Axle Semi-Sleeper (2+2)'
 'VE A/C Seater (2+2)' 'A/C Seater / Sleeper (2+2)'
 'A/C Seater Push Back (2+3)' 'AC Seater (2+3)' 'Non AC Seater 2+2'
 'NON A/C Seater Push Back (2+2)' 'Rajdhani (AC Semi Sleeper 2+2)'
 'RAJDHANI (A.C. Semi Sleeper)' 'Scania AC Multi Axle Sleeper (2+1)'
 'GARUDA PLUS (VOLVO / BENZ A.C Multi Axle)'
 'LAHARI A/C SLEEPER CUM SEATER' 'Ordinary Non AC Seater 2+3'
 'Shatabdi AC Seater 2+2' 'Rajdhani Non AC Seater 2+3'
 'Janrath AC Seater 2+2' 'Janrath AC Seater 2+3'
 'Pink Express AC Seater 2+2' 'Volvo AC Seater (2+2)']

In [56]:
# Get value counts for a specific column (e.g., 'Bus_type')
print(df_bus['Bus_type'].value_counts())

Bus_type
Non AC Seater (2+3)                        369
Ordinary 3+2 Non AC Seater                 242
SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)     242
Ordinary Non AC Seater 2+3                 196
Himsuta AC Seater Volvo/Scania 2+2         149
                                          ...
Non AC Seater 2+2                            1
2+1 Air Suspension A/C Seater / Sleeper      1
Volvo Multi-Axle A/C Sleeper (2+1)           1
SWIFT-GARUDA A/C SEATER BUS                  1
SWIFT-HYBRID NON AC SEATER CUM SLEEPER       1
Name: count, Length: 91, dtype: int64

In [57]:
# Count the non-null values for each column
print(df_bus.notna().sum())

Bus_name           2461
Bus_type           2461
Start_time         2461
End_time           2461
Total_duration     2461
Price              2461
Seats_Available       0
Ratings            2461
Route_name         2461
Route_link         2461
dtype: int64

In [59]:
df_bus['Seats_Available'].fillna(0, inplace=True)  # Replace NaNs with 0

/var/folders/yj/8l_4gn6560scq2dktx2xb6nm0000gn/T/ipykernel_1804/1169006031.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_bus['Seats_Available'].fillna(0, inplace=True)  # Replace NaNs with 0

In [60]:
print(df_bus.notna().sum())

Bus_name           2461
Bus_type           2461
Start_time         2461
End_time           2461
Total_duration     2461
Price              2461
Seats_Available    2461
Ratings            2461
Route_name         2461
Route_link         2461
dtype: int64

In [61]:
# Display a summary of the dataframe (missing data, etc.)
print(df_bus.describe(include='all'))

              Bus_name             Bus_type Start_time End_time  \
count             2461                 2461       2461     2461
unique             996                   91        298      323
top     Laxmi holidays  Non AC Seater (2+3)      05:00    00:00
freq                42                  369        110       83
mean               NaN                  NaN        NaN      NaN
std                NaN                  NaN        NaN      NaN
min                NaN                  NaN        NaN      NaN
25%                NaN                  NaN        NaN      NaN
50%                NaN                  NaN        NaN      NaN
75%                NaN                  NaN        NaN      NaN
max                NaN                  NaN        NaN      NaN

       Total_duration        Price  Seats_Available      Ratings  \
count            2461  2461.000000           2461.0  2461.000000
unique            237          NaN              NaN          NaN
top           03h 00m          NaN              NaN          NaN
freq               96          NaN              NaN          NaN
mean              NaN   515.491410              0.0     1.285738
std               NaN   362.656722              0.0     1.745732
min               NaN    52.000000              0.0     0.000000
25%               NaN   283.000000              0.0     0.000000
50%               NaN   462.000000              0.0     0.000000
75%               NaN   664.000000              0.0     3.300000
max               NaN  5000.000000              0.0     4.800000

                                          Route_name  \
count                                           2461
unique                                           222
top     Dharamshala (Himachal Pradesh) to Chandigarh
freq                                              45
mean                                             NaN
std                                              NaN
min                                              NaN
25%                                              NaN
50%                                              NaN
75%                                              NaN
max                                              NaN

                                               Route_link
count                                                2461
unique                                                222
top     https://www.redbus.in/bus-tickets/dharamshala-...
freq                                                   45
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

In [62]:
df_bus

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_name,Route_link
0,MMK Travels,A/C Seater / Sleeper (2+1),22:30,07:30,09h 00m,750.0,0.0,0.0,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
1,P K Travels,A/C Seater / Sleeper (2+1),21:30,06:00,08h 30m,684.0,0.0,0.0,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
2,P K Travels,A/C Sleeper (2+1),18:45,06:30,11h 45m,810.0,0.0,0.0,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
3,AdSAAM BUS,VE A/C Sleeper (2+1),21:45,06:45,09h 00m,786.0,0.0,0.0,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
4,NS Transports,Non A/C Seater / Sleeper (2+1),21:45,06:10,08h 25m,699.0,0.0,0.0,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
...,...,...,...,...,...,...,...,...,...,...
191,SBSTC-BARRACKPORE - HALDIA - VIA - BELGHARIA -...,Non AC Seater (2+3),07:15,10:15,03h 00m,112.0,0.0,0.0,Kolkata to Haldia,https://www.redbus.in/bus-tickets/kolkata-to-h...
192,SBSTC-BARRACKPORE - HALDIA - VIA - BELGHARIA -...,Non AC Seater (2+3),07:15,10:15,03h 00m,112.0,0.0,0.0,Kolkata to Haldia,https://www.redbus.in/bus-tickets/kolkata-to-h...
193,SBSTC-BARRACKPORE - HALDIA - VIA - BELGHARIA -...,Non AC Seater (2+3),07:15,10:15,03h 00m,112.0,0.0,0.0,Kolkata to Haldia,https://www.redbus.in/bus-tickets/kolkata-to-h...
194,SBSTC-BARRACKPORE - HALDIA - VIA - BELGHARIA -...,Non AC Seater (2+3),07:15,10:15,03h 00m,112.0,0.0,0.0,Kolkata to Haldia,https://www.redbus.in/bus-tickets/kolkata-to-h...
195,SBSTC-BARRACKPORE - HALDIA - VIA - BELGHARIA -...,Non AC Seater (2+3),07:15,10:15,03h 00m,112.0,0.0,0.0,Kolkata to Haldia,https://www.redbus.in/bus-tickets/kolkata-to-h...

In [63]:
# Check if there are any missing values left
print(df_bus.isna().sum())

Bus_name           0
Bus_type           0
Start_time         0
End_time           0
Total_duration     0
Price              0
Seats_Available    0
Ratings            0
Route_name         0
Route_link         0
dtype: int64

In [64]:
df_bus['Total_duration'].unique()

array(['09h 00m', '08h 30m', '11h 45m', '08h 25m', '09h 10m', '08h 15m',
       '03h 54m', '04h 30m', '04h 45m', '02h 59m', '09h 15m', '10h 00m',
       '09h 45m', '06h 15m', '05h 20m', '05h 35m', '05h 00m', '05h 50m',
       '05h 45m', '06h 00m', '07h 25m', '05h 30m', '06h 10m', '06h 55m',
       '07h 20m', '04h 55m', '05h 40m', '06h 05m', '06h 33m', '05h 41m',
       '06h 11m', '06h 20m', '07h 05m', '06h 45m', '07h 31m', '06h 16m',
       '06h 40m', '07h 00m', '03h 35m', '03h 20m', '03h 55m', '10h 20m',
       '10h 30m', '08h 55m', '09h 55m', '08h 40m', '10h 50m', '10h 05m',
       '08h 00m', '11h 35m', '07h 50m', '08h 45m', '09h 50m', '08h 20m',
       '08h 35m', '09h 25m', '07h 30m', '06h 35m', '05h 55m', '07h 08m',
       '07h 10m', '03h 30m', '07h 40m', '07h 55m', '07h 45m', '07h 15m',
       '06h 59m', '08h 05m', '05h 05m', '06h 30m', '05h 52m', '07h 42m',
       '04h 50m', '07h 41m', '08h 18m', '06h 50m', '03h 00m', '04h 10m',
       '03h 50m', '03h 05m', '04h 25m', '03h 45m', '02h 50m', '04h 00m',
       '03h 40m', '06h 25m', '05h 25m', '04h 15m', '05h 10m', '04h 35m',
       '07h 35m', '06h 53m', '04h 59m', '05h 15m', '04h 20m', '03h 25m',
       '16h 00m', '05h 01m', '05h 34m', '04h 44m', '05h 02m', '05h 04m',
       '04h 02m', '04h 22m', '04h 46m', '08h 22m', '03h 15m', '08h 03m',
       '05h 44m', '04h 40m', '04h 05m', '04h 21m', '03h 53m', '07h 59m',
       '03h 34m', '04h 03m', '08h 50m', '11h 25m', '08h 10m', '08h 57m',
       '07h 29m', '06h 47m', '30h 15m', '09h 20m', '03h 10m', '02h 45m',
       '02h 00m', '02h 15m', '01h 50m', '01h 45m', '01h 40m', '02h 05m',
       '02h 30m', '02h 35m', '09h 37m', '07h 44m', '02h 44m', '09h 35m',
       '04h 31m', '11h 15m', '09h 09m', '09h 40m', '09h 05m', '11h 00m',
       '10h 10m', '10h 16m', '09h 47m', '05h 09m', '10h 48m', '09h 32m',
       '09h 42m', '09h 30m', '12h 25m', '11h 30m', '10h 35m', '13h 50m',
       '12h 05m', '11h 05m', '08h 52m', '07h 52m', '02h 20m', '02h 40m',
       '08h 36m', '08h 04m', '03h 21m', '10h 45m', '10h 40m', '13h 00m',
       '12h 00m', '13h 15m', '04h 47m', '02h 25m', '06h 01m', '18h 40m',
       '06h 31m', '08h 29m', '19h 20m', '18h 50m', '18h 30m', '17h 45m',
       '20h 00m', '19h 30m', '19h 00m', '18h 45m', '18h 00m', '17h 30m',
       '03h 01m', '02h 55m', '01h 00m', '07h 12m', '14h 30m', '05h 16m',
       '13h 16m', '13h 07m', '05h 56m', '02h 49m', '03h 06m', '13h 05m',
       '07h 58m', '06h 34m', '08h 34m', '08h 09m', '10h 02m', '11h 19m',
       '12h 07m', '12h 51m', '07h 43m', '13h 20m', '13h 10m', '13h 30m',
       '14h 00m', '14h 05m', '07h 28m', '07h 01m', '07h 39m', '08h 27m',
       '04h 11m', '12h 01m', '08h 26m', '08h 08m', '05h 43m', '08h 41m',
       '07h 17m', '09h 46m', '06h 04m', '17h 37m', '15h 00m', '06h 29m',
       '07h 34m', '09h 02m', '05h 21m', '02h 10m', '01h 35m', '15h 45m',
       '14h 10m', '17h 40m', '17h 00m'], dtype=object)

In [6]:
print(df_bus['departing_time'].dtype)

KeyError: 'departing_time'