In [1]:
%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.12/site-packages (9.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector

# Connect to the MySQL database
conn = mysql.connector.connect(
    host="localhost",      # Replace with your MySQL host
    user="root",  # Replace with our MySQL username
    password="pochi2002*",  # Replace with our MySQL password
    database="Red_Bus_Scrap"  # Replace with the database we're using
    
)

cursor = conn.cursor()

In [2]:
cursor

In [3]:
# Execute the query to show all databases
cursor.execute("SHOW DATABASES")

# Fetch and print the list of databases
databases = cursor.fetchall()

for db in databases:
    print(db[0])

Dataspark
DS_WD_E_B15
GlobalElectronics
information_schema
mysql
performance_schema
Red_Bus_Scrap
sys

In [4]:
# Create bus_routes table
create_table_query = '''
CREATE TABLE IF NOT EXISTS bus_routes (
    id INT AUTO_INCREMENT PRIMARY KEY,
    route_name TEXT NOT NULL,
    route_link TEXT NOT NULL,
    busname TEXT NOT NULL,
    bustype TEXT NOT NULL,
    departing_time TIME NOT NULL,
    duration TEXT NOT NULL,
    reaching_time TIME NOT NULL,
    star_rating FLOAT,
    price DECIMAL(10, 2),
    seats_available INT NOT NULL
);
'''
cursor.execute(create_table_query)

In [5]:
# Run the DESCRIBE query to view the structure of the bus_routes table
cursor.execute("DESCRIBE bus_routes")

# Fetch all the rows (i.e., the description of the table)
td = cursor.fetchall()

# Print the table structure
for row in td:
    print(row)

('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('route_name', 'text', 'YES', '', None, '')
('route_link', 'text', 'YES', '', None, '')
('busname', 'text', 'YES', '', None, '')
('bustype', 'text', 'YES', '', None, '')
('departing_time', 'time', 'YES', '', None, '')
('duration', 'text', 'YES', '', None, '')
('reaching_time', 'time', 'YES', '', None, '')
('star_rating', 'float', 'YES', '', None, '')
('price', 'decimal(10,2)', 'YES', '', None, '')
('seats_available', 'int', 'YES', '', None, '')

In [6]:
import pandas as pd

In [7]:
df_kerala=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_kerala.csv")
df_andhra=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_andra.csv")
df_assam=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_assam.csv")
df_chandigarh=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_chandigarh.csv")
df_GOA=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_GOA.csv")
df_himachalpradesh=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_himachalpradesh.csv")
df_jk=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_himachalpradesh.csv")
df_up=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_up.csv")
df_wb=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_wb.csv")
df_south_bengal=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_south_bengal.csv")
df_telangana=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_telangana.csv")
df_bihar=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_bihar.csv")
df_rajastan=pd.read_csv("/Users/priyankamalavade/Desktop/redbus_scraping/scraped_all_required_bus_details/df_rajastan.csv")

In [8]:
df_bus=pd.concat([df_kerala,df_andhra,df_assam,df_chandigarh,df_GOA,df_himachalpradesh,df_jk,df_rajastan,df_south_bengal,df_telangana,df_up,df_wb])

/var/folders/yj/8l_4gn6560scq2dktx2xb6nm0000gn/T/ipykernel_1914/3446218270.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_bus=pd.concat([df_kerala,df_andhra,df_assam,df_chandigarh,df_GOA,df_himachalpradesh,df_jk,df_rajastan,df_south_bengal,df_telangana,df_up,df_wb])

In [9]:
df_bus  # prints the table consisting of all bus details

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_name,Route_link
0,MMK Travels,A/C Seater / Sleeper (2+1),22:30,07:30,09h 00m,750.0,24 Seats available,4.6\n556,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
1,P K Travels,A/C Seater / Sleeper (2+1),21:30,06:00,08h 30m,684.0,23 Seats available,4.2\n62,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
2,P K Travels,A/C Sleeper (2+1),18:45,06:30,11h 45m,810.0,24 Seats available,4.1\n110,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
3,AdSAAM BUS,VE A/C Sleeper (2+1),21:45,06:45,09h 00m,786.0,17 Seats available,4.1\n289,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
4,NS Transports,Non A/C Seater / Sleeper (2+1),21:45,06:10,08h 25m,699.0,19 Seats available,4.2\n276,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...
...,...,...,...,...,...,...,...,...,...,...
191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kolkata to Haldia,https://www.redbus.in/bus-tickets/kolkata-to-h...
192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kolkata to Haldia,https://www.redbus.in/bus-tickets/kolkata-to-h...
193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kolkata to Haldia,https://www.redbus.in/bus-tickets/kolkata-to-h...
194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kolkata to Haldia,https://www.redbus.in/bus-tickets/kolkata-to-h...
195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kolkata to Haldia,https://www.redbus.in/bus-tickets/kolkata-to-h...

In [10]:
# Clean the Ratings column by removing non-numeric characters
df_bus['Ratings'] = df_bus['Ratings'].str.extract(r'(\d+\.?\d*)').astype(float)

print(df_bus['Ratings'].dtype)  # Check if it's now a float
print(df_bus[['Ratings']].head())  # Check the first few rows of the Ratings column

float64
   Ratings
0      4.6
1      4.2
2      4.1
3      4.1
4      4.2

In [14]:
# Ensure Seats_Available is treated as a string temporarily to clean it
df_bus['Seats_Available'] = df_bus['Seats_Available'].astype(str)

# Clean the Seats_Available column to ensure it only contains valid numeric characters
df_bus['Seats_Available'] = df_bus['Seats_Available'].str.replace(r'\D+', '', regex=True)  # Remove non-numeric characters

# Convert to numeric (INT), setting invalid entries to NaN
df_bus['Seats_Available'] = pd.to_numeric(df_bus['Seats_Available'], errors='coerce')

# Drop rows with NaN values in Seats_Available if needed
df_bus.dropna(subset=['Seats_Available'], inplace=True)

# Convert the Seats_Available column to integer
df_bus['Seats_Available'] = df_bus['Seats_Available'].astype(int)

# No need for the last step that uses str.extract again

In [12]:
#print(df_bus['Seats_Available'].dtype)  # Check if it's now an integer
#print(df_bus[['Seats_Available']].head())  # Check the first few rows of the Seats_Available column

In [11]:
#cursor.fetchall()
# SQL query to update the star_rating (Ratings) in the bus_routes table
update_query = """
    UPDATE bus_routes
    SET star_rating = %s
    WHERE route_name = %s AND busname = %s;
"""

# Iterate over DataFrame rows and update the Ratings (star_rating) in the database
for index, row in df_bus.iterrows():
    
    # Ensure that the Ratings value is cleaned and formatted correctly
    rating_value = row['Ratings']
    
    # Execute the update query with parameters
    cursor.execute(update_query, (
        rating_value,            # The new star_rating (Ratings)
        row['Route_name'],       # The corresponding route_name in bus_routes table
        row['Bus_name'],         # The corresponding busname in bus_routes table
    ))

# Commit the transaction to apply changes
conn.commit()

# Optionally, you can print a confirmation message
print("Ratings successfully updated in the database.")

Ratings successfully updated in the database.

In [15]:
cursor.fetchall()
# SQL query to insert data into the bus_routes table
sql_query = """
        INSERT INTO bus_routes (
            route_name, route_link, busname, bustype, departing_time, duration,
            reaching_time, star_rating, price, seats_available
        ) VALUES (
            %s, %s, %s, %s, %s, %s, %s, %s, %s, %s
        );
        """

# Iterate over DataFrame rows and insert data into the database
for index, row in df_bus.iterrows():
            
    # Execute the query with parameters
    cursor.execute(sql_query, (
        row['Route_name'],        # Corresponds to route_name in bus_routes table
        row['Route_link'],        # Corresponds to route_link in bus_routes table
        row['Bus_name'],          # Corresponds to busname in bus_routes table
        row['Bus_type'],          # Corresponds to bustype in bus_routes table
        row['Start_time'],        # Corresponds to departing_time in bus_routes table
        row['Total_duration'],    # Corresponds to duration in bus_routes table
        row['End_time'],          # Corresponds to reaching_time in bus_routes table
        row['Ratings'],           # Corresponds to star_rating in bus_routes table
        row['Price'],             # Corresponds to price in bus_routes table
        row['Seats_Available'],   # Corresponds to seats_available in bus_routes table
    ))

# Commit the transaction to save changes permanently
conn.commit()

# Optionally, you can print a confirmation message
print("Data successfully inserted and saved to the database.")

Data successfully inserted and saved to the database.

In [20]:

import pandas as pd

# SQL query to fetch all data from the bus_routes table
select_query = "SELECT * FROM bus_routes LIMIT 3"

# Execute the query
cursor.execute(select_query)

# Fetch all rows
rows = cursor.fetchall()

# Display the results in SQL format (list of tuples)
for row in rows:
    print(row)

(1715, 'Vijayawada to Hyderabad', 'https://www.redbus.in/bus-tickets/vijayawada-to-hyderabad', 'APSRTC - 3525', 'SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)', datetime.timedelta(seconds=54000), '08h 00m', datetime.timedelta(seconds=82800), 4.1, Decimal('480.00'), 31)
(1716, 'Vijayawada to Hyderabad', 'https://www.redbus.in/bus-tickets/vijayawada-to-hyderabad', 'APSRTC - 3886', 'DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle)', datetime.timedelta(seconds=54000), '05h 00m', datetime.timedelta(seconds=72000), 3.9, Decimal('670.00'), 26)
(1717, 'Vijayawada to Hyderabad', 'https://www.redbus.in/bus-tickets/vijayawada-to-hyderabad', 'APSRTC - 3573', 'AMARAVATHI (VOLVO / SCANIA A.C Multi Axle)', datetime.timedelta(seconds=55800), '05h 55m', datetime.timedelta(seconds=77100), 4.1, Decimal('720.00'), 17)

In [19]:
import pandas as pd

# Define the column names for the DataFrame

columns = ['ID', 'Route_name', 'Route_link', 'Bus_name', 'Bus_type', 'Departing_time', 'Total_duration', 'End_time', 'Ratings', 'Price', 'Seats_Available']



# Convert the fetched rows into a pandas DataFrame
df = pd.DataFrame(rows, columns=columns)

# Display the DataFrame as a table
df.head(3)

,ID,Route_name,Route_link,Bus_name,Bus_type,Departing_time,Total_duration,End_time,Ratings,Price,Seats_Available
0,1715,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 3525,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",0 days 15:00:00,08h 00m,0 days 23:00:00,4.1,480.00,31
1,1716,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 3886,DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle),0 days 15:00:00,05h 00m,0 days 20:00:00,3.9,670.00,26
2,1717,Vijayawada to Hyderabad,https://www.redbus.in/bus-tickets/vijayawada-t...,APSRTC - 3573,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),0 days 15:30:00,05h 55m,0 days 21:25:00,4.1,720.00,17